@media (768px <= width <= 1024px) {
  .gallery_item {
    flex: 0 0 32%;
  }
  
.gallery_item{
  margin: 6px;
}
.articles{
    flex-wrap: wrap;
    justify-content: flex-start
}
.article{
   width:45%
}

}
